html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "Open Sans";
    font-weight: 500;
}

/** 
 * * BODY 
*/
body {
    display: flex;
    flex-direction: column;
}

/** HEADER */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding-left: 20px;
    padding-right: 20px;
}

/** MAIN */
main {
    flex: auto;
    background-color: #ffbb11;
    clip-path: polygon(100% 0, 100% 90%, 0% 100%, 0 10%);
}

#game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 100%;
    padding-left: 5vw;
}

#tip-container {
    display: none;
}

#help {
    margin-bottom: 50px;
}

#help button {
    margin: 7px;
    padding: 17px 25px 17px 25px;
    font-size: 15px;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-box-shadow: 3px 3px 13px -2px rgba(119,119,119,1);
    -moz-box-shadow: 3px 3px 13px -2px rgba(119,119,119,1);
    box-shadow: 3px 3px 13px -2px rgba(119,119,119,1);
}

#question {
    font-size: 36px;
    text-align: center;
}

#answers {
    margin-top: 50px;
}

#answers button {
    margin: 7px;
    padding: 17px 25px 17px 25px;
    font-size: 16px;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-box-shadow: 3px 3px 13px -2px rgba(119,119,119,1);
    -moz-box-shadow: 3px 3px 13px -2px rgba(119,119,119,1);
    box-shadow: 3px 3px 13px -2px rgba(119,119,119,1);
}

/** FOOTER */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
